# Loop In Python
## Type of loop in python
 - for loop
 - while loop

# For loop

In [1]:
fruits = ["apple", "banana", "cherry"]

for i in fruits:
    print(i)

apple
banana
cherry

In [2]:
s = 'international'

for i in s:
    print(i)

i
n
t
e
r
n
a
t
i
o
n
a
l

In [2]:
for i in range(1,21):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [4]:
print("hello world")

hello world

### A code to print 1 - 300

In [5]:
for i in range(1,301):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300

In [6]:
course = 'Python'

for a in course:
    print(a)

P
y
t
h
o
n

## The break Statement
#### With the break statement we can stop the loop before it has looped through all the items:

# Example
### Exit the loop when x is "banana":

In [4]:
school = 'University'
#print(school)

for a in school:
    print(a)
    if a == 's':
        break

U
n
i
v
e
r
s

In [5]:
fruits = ["apple", "banana", "cherry",'orange']

for x in fruits:
    print(x)

apple
banana
cherry
orange

In [7]:
fruits = ["apple", "banana", "cherry",'orange','banana']
for x in fruits:
    print(x)
    if x == "cherry":
        break

apple
banana
cherry

In [8]:
fruits = ["apple", "banana", "cherry",'orange','banana']

for x in fruits:
    print(x)
    if x == "cherry":
        continue

apple
banana
cherry
orange
banana

In [9]:
fruits = ["apple", "banana", "cherry",'orange','banana']
for x in fruits:
    print(x)
    if x == "cherry":
        pass

apple
banana
cherry
orange
banana

In [12]:
location = ['shelf', 'table', 'cuboard', 'bed', 'wardrobe']

car_key = input("Enter the location of your car key: ")

for i in location:
    if i == car_key:
        print("The key was found in ", i)
        break
else:
    print("The key was not found in ", i, "try checking else where")

Enter the location of your car key: toilet
The key was not found in  wardrobe try checking else where

## Write a code to print out the even numbers between 1 to 100

In [13]:
for i in range(1, 101):
    print(i)
    if i == 40:
        break

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40

In [14]:
for i in range(1, 31):
    if i%2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30

## While loop

In [19]:
i = 0 # initialization

while i <= 20: # condition
    print(i)
    
    i  += 3 # Increment or decrement

0
3
6
9
12
15
18

In [20]:
for i in range(21):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [21]:
secret_num = 20

guess = int(input("Enter any number: "))

while secret_num != guess:
    if guess < secret_num:
        print("Too low")
        guess = int(input("Enter number again: "))
    elif guess > secret_num:
        print("Too high!")
        guess = int(input("Enter number again: "))
    else:
        break
print("you guessed it right!!")

Enter any number: 12
Too low
Enter number again: 30
Too high!
Enter number again: 45
Too high!
Enter number again: 20
you guessed it right!!

In [22]:
i = 1

while i <= 10:
    
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10