# Python Data Types Conversion
 - Implicit data types conversion
 - Explicit data types conversion

# Implicit Data Types Conversion

In [4]:
num1 = 23
num2 = 45.4
total = num1 + num2
print(total)

68.4

In [5]:
print(type(total))

<class 'float'>

In [2]:
print(type(num1))

<class 'int'>

In [3]:
print(type(num2))

<class 'float'>

In [4]:
print(num1)

23

In [5]:
print(type(num2))

<class 'float'>

In [6]:
print(num2)

45.4

In [7]:
print(total)

68.4

In [5]:
print(type(total))

<class 'float'>

# Explicit Data Types Conversion

In [6]:
num1 = input("Enter the first number: ")
num2 = input("Enter the second number: ")

Enter the first number: 34
Enter the second number: 17

In [7]:
print(num1)

34

In [8]:
print(num2)

17

In [10]:
print(type(num1 + num2))

<class 'str'>

In [12]:
print(type(num1))

<class 'str'>

In [13]:
print(type(num2))

<class 'str'>

In [14]:
t = num1 + num2

In [15]:
print(t)

4523

In [16]:
print(45+23)

68

In [17]:
print(type(t))

<class 'str'>

In [11]:
number1 = int(input("Enter the first number: "))
number2 = int(input("Enter the second number: "))

Enter the first number: 14
Enter the second number: 70

In [14]:
print(type(number1))

<class 'int'>

In [15]:
print(type(number2))

<class 'int'>

In [16]:
Sum = number1 + number2 
print(Sum)
print(type(Sum))

84
<class 'int'>

In [17]:
number1 = float(input("Enter the first number: "))
number2 = float(input("Enter the second number: "))

Enter the first number: 70
Enter the second number: 13

In [18]:
t = number1 + number2 
print(t)
print(type(t))

83.0
<class 'float'>

In [16]:
num1 = str(3)
num2 = str(4)

print(num1+num2)

34

# tuple

In [19]:
tu = (1,2,3,'python','Ijan')
print(tu)
print(type(tu))

(1, 2, 3, 'python', 'Ijan')
<class 'tuple'>

In [20]:
p = list('python')
print(p)
print(type(p))

['p', 'y', 't', 'h', 'o', 'n']
<class 'list'>

In [21]:
l = [1,2,3,5,'Ijan']
print(l)
print(type(l))

[1, 2, 3, 5, 'Ijan']
<class 'list'>

# integer, float, complex, tuple, list, dictionary, set

In [32]:
lis = [1,2,3,5,1,1,2,2,3,4,1,'Ijan','Ijan','Ijan','Ijan','Ijan']
print(lis)
print(type(lis))

[1, 2, 3, 5, 1, 1, 2, 2, 3, 4, 1, 'Ijan', 'Ijan', 'Ijan', 'Ijan', 'Ijan']
<class 'list'>

In [33]:
print(tuple(lis))

(1, 2, 3, 5, 1, 1, 2, 2, 3, 4, 1, 'Ijan', 'Ijan', 'Ijan', 'Ijan', 'Ijan')

In [22]:
l = tuple([1,2,3,5,'Ijan'])
print(l)
print(type(l))

(1, 2, 3, 5, 'Ijan')
<class 'tuple'>

In [23]:
s = set([1,2,3,5,'Ijan'])
print(s)
print(type(s))

{1, 2, 3, 5, 'Ijan'}
<class 'set'>