# What is programming ?

Programming is a way to “instruct the computer to perform various tasks”

# What is python programming?

Python is a high-level, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation. Python is dynamically-typed and garbage-collected. It supports multiple programming paradigms, including structured, object-oriented and functional programming by <span style="color:red"> Wikipedia</span>

# Application of Python Programming Language

 1. Web Development
 2. Game Development
 3. Machine Learning and Artificial Intelligence
 4. Data Science and Data Visualization
 5. Desktop GUI
 6. Web Scraping Applications
 7. Business Applications
 8. Audio and Video Applications
 9. CAD Applications
 10. Embedded Applications

### Python Variable

Variables are containers for storing data values.

## Variable creation

In [1]:
a = "Python"
b = 40.7
x = 2
y = 4

print(a)
print(b)
print(x)
print(y)

Python
40.7
2
4

In [2]:
print(a)

Python

In [3]:
print(b)

40.7

In [4]:
print(x)

2

In [5]:
name = "ade"
print(name)

ade

In [6]:
name_of_student = 'Victor'
print(name_of_student)

Victor

## Rules for Naming Variable in Python
 - A variable name must start with a letter or the underscore character
 - A variable name cannot start with a number
 - A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
 - Variable names are case-sensitive (age, Age and AGE are three different variables)
 - A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume).

In [7]:
Age = 25
print(Age)

25

In [11]:
print(age)

NameError: name 'age' is not defined

In [12]:
_ = 34
print(_)

34

In [13]:
1 = "victor"
print(1)

SyntaxError: cannot assign to literal (752848060.py, line 1)

In [15]:
num1 = 2
name_of_student = 'victor'
print(name_of_student)
print(num1)

victor
2

In [ ]:
NameOfStudent #.camelscore

In [16]:
## many value to a variable name

a,b,c = 40, 30, 20

print(a)
print(b)
print(c)

40
30
20

In [20]:
## outputing multiple variable 
items1 = 'book '
items2 = 'pen '
items3 = 'bag'

print(items1+items2+items3)
print(items1,items2,items3)

#print(items1)
#print(items2)
#print(items3)

book pen bag
book  pen  bag

## Type of variable 
 - Global variable
 - Local Variable

## Operators in Python
Operators are used to perform operations on variables and values.

In the example below, we use the + operator to add together two values:

In [ ]:
print(2+2)

In [ ]:
print('2'+'2')

In [ ]:
num1 = 34
num2 = 30
print(num1+num2)

Operators in Python can be divided in the following categories:

 - Arithmetic operators
 - Assignment operators
 - Comparison operators
 - Logical operators
 - Identity operators
 - Membership operators
 - Bitwise operators

# Python Arithemetic Operators
 - Addition		
 - Subtraction		
 - Multiplication
 - Division
 - Modulus		
 - Exponentiation	
 - Floor division

### Addition ( + )

In [21]:
x = 39
y = 37
print(x+y)

76

In [22]:
fName = "Abayomi"
lName = " Abiodun"

print(fName + lName)  # concatenation

Abayomi Abiodun

## Subtraction ( - )

In [25]:
num1 = 39
num3 = 78
print(num3-num1)

39

## Multiplication

In [26]:
num1 = 2
num2 = 40
m = num1 * num2
print(m)

80

In [27]:
name = " IJAN "
number_of_student = 14
print(name * number_of_student)

 IJAN  IJAN  IJAN  IJAN  IJAN  IJAN  IJAN  IJAN  IJAN  IJAN  IJAN  IJAN  IJAN  IJAN

In [28]:
print(10*10)

100

## Division
### Types of division
 - Float division 
 - Floor division

In [29]:
# Float division (/)
number1 = 30
number2 = 90
print(number2/number1)

3.0

In [30]:
# Floor division or integer division ( // )
number1 = 30
number2 = 90
print(number2 // number1)

3

In [31]:
number1 = 30
number2 = 95
print(number2 / number1)

3.1666666666666665

In [32]:
number1 = 30
number2 = 95
print(number2 // number1)

3

## Modulus ( % )

In [ ]:
print(7/3) 2 remainder 1

In [33]:
# remainder 
#print(7/3)
print(7%3)

1

In [ ]:
print(10%7)

## Exponentiation

In [ ]:
2 * 2* 2

In [34]:
print(2**3)

8

In [ ]:
print(7**2)

## Assignment Operators ( = )
#### Assignment operator is usually used for assigning a value to a variable just like IJAN is assigned to Name and 70 is assigned x

In [35]:
3 == 3

True

In [ ]:
fName = "IJAN"
x = 70

## Built-in Data Type in Python 

In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

 - Text Type:	str
 - Numeric Types:	int, float, complex
 - Sequence Types:	list, tuple, range
 - Mapping Type:	dict 
 - Set Types:	set
 - Boolean Type:	True or False

# String (str) Data type

In [36]:
Name = "Emmanuel"
School = "IJAN"
Course_of_study = "Python"
print(Name)
print(type(Name))
print(School)
print(type(School))
print(Course_of_study)
print(type(Course_of_study))

Emmanuel
<class 'str'>
IJAN
<class 'str'>
Python
<class 'str'>

In [37]:
num = 34
print(num)
print(type(num))

34
<class 'int'>

In [38]:
num = '34'
print(num)
print(type(num))

34
<class 'str'>

## Numeric type 
 - int
 - float
 - complex

In [39]:
# Integer data type - whole number 
num1 = 34
# decimal - float data type 
num2 = 49.5
num3 = 3 + 5j
print(num1)
print(type(num1))
print(num2)
print(type(num2))
print(num3)
print(type(num3))

34
<class 'int'>
49.5
<class 'float'>
(3+5j)
<class 'complex'>

# List

In [ ]:
num1 = 30
num2 = 40
print(num1)

In [40]:
numbers = [1,2,3,4,5,6,7,8,9,90,100]
names = ["Miracle", "Oluwaseun", "Victor", "Emmanuel", "Oyindamola"]
print(numbers)
print(names)
print(type(numbers))
print(type(names))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 90, 100]
['Miracle', 'Oluwaseun', 'Victor', 'Emmanuel', 'Oyindamola']
<class 'list'>
<class 'list'>

# Tuple

In [41]:
numbers = (1,2,3,4,5,6,7,8,9,90,100)
names = ("Miracle", "Oluwaseun", "Victor", "Emmanuel", "Oyindamola")
print(numbers)
print(names)
print(type(numbers))
print(type(names))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 90, 100)
('Miracle', 'Oluwaseun', 'Victor', 'Emmanuel', 'Oyindamola')
<class 'tuple'>
<class 'tuple'>

# Range

In [42]:
r = range(1,20)
print(r)
print(type(r))

range(1, 20)
<class 'range'>

In [43]:
for i in range(1,20):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

## Dictionary

In [44]:
d = {"name": "IJAN", "AGE": 23, "Course":"Python"}
print(d)
print(type(d))

{'name': 'IJAN', 'AGE': 23, 'Course': 'Python'}
<class 'dict'>

In [45]:
s = {1,2,3,4,'ade', 'Ijan'}
print(s)

{'Ijan', 1, 2, 3, 4, 'ade'}

## Set

In [46]:
s = {1,2,1,1,3,4,5,6,7,5,8,4,5}
print(s)
print(type(s))

{1, 2, 3, 4, 5, 6, 7, 8}
<class 'set'>

## Boolean ( True or False )

In [47]:
print(2 == 2)

True

In [48]:
print(2 > 3)

False

In [49]:
print(4<5)

True

# Type casting

## Specify a Variable Type
#### There may be times when you want to specify a type on to a variable. This can be done with casting. Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.

 ### Casting in python is therefore done using constructor functions:

 - int() - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)
 - float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)
 - str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

## Int

In [50]:
n = 20.78 
print(type(n))

<class 'float'>

In [51]:
x = int(20.78)
print(x)
print(type(x))

20
<class 'int'>

In [52]:
x = int(20.78)   # x will be 20
y = int(48.8) # y will be 48
z = int("550") # z will be 550

print(x)
print(type(x))
print(y)
print(type(y))
print(z)
print(type(z))

20
<class 'int'>
48
<class 'int'>
550
<class 'int'>

# Float

In [53]:
x = float(20)   # x will be 20.0
y = float(48.8) # y will be 48.8
z = float("550") # z will be 550.0

print(x)
print(type(x))
print(y)
print((type(y)))
print(z)
print(type(z))

20.0
<class 'float'>
48.8
<class 'float'>
550.0
<class 'float'>

## Strings

In [54]:
x = str(20)   # x will be '20'
y = str(48.8) # y will be '48'
z = str("550") # z will be '550'

print(x)
print(type(x))
print(y)
print(type(y))
print(z)
print(type(z))

20
<class 'str'>
48.8
<class 'str'>
550
<class 'str'>

In [ ]:
print(x)

In [ ]:
print(y)

In [ ]:
print((x + y))